/****** Script for SelectTopNRows command from SSMS  ******/
insert into [marketplace_lending_cracked_prod_tables].[dbo].[BHHJ_marketplace_consumer_loan]
      ([platform]
	  ,[BHHJ_Loan_number]
	  ,[platform_program]
      ,[platform_score]
	  ,[int_rate]
	  ,[term]
      ,[age]
      ,[remaining_term]
	  ,[original_balance]
	  ,[loan_origination_date]
	  ,[remaining_balance]
	  ,[service_fee]
	  ,[loan_status]
	  ,[del_days]
	  ,[province]
	  ,[city]
      ,[del_records_1y]
	  ,[paid_int]
      ,[paid_prin]
      ,[paid_latefee]
      ,[gender]
      ,[borrower_age]
      ,[prepay_date]
	  ,[platform_int_rate]
      ,[service_fee_rate])
 SELECT [marketplace_lending_cracked_dev_tables].[dbo].[BHHJ_loan_mappings].[Platform]
 ,[marketplace_lending_cracked_dev_tables].[dbo].[BHHJ_loan_mappings].[Platform_Loan_Number]
      ,[产品名称]
	   ,[客户评分]
 ,[客户成本]
 ,[期限]
      ,[账龄]
      ,[剩余期限]
	  ,[放款金额]
	  ,[放款日期]
	  ,[未偿本金]
	  ,[服务费]
	  ,[贷款状态]
	  ,[逾期天数]
	  ,[省份]
	  ,[城市]
      ,[过往一年内逾期次数]
	  ,[已还利息]
      ,[已还本金]
      ,[已还罚息]
      ,[性别]
      ,[年龄]
      ,[提前还款日期]
	  ,[利率（%）]
      ,[服务费率（%）]
 FROM [marketplace_lending_staging_tables].[dbo].[chinatopcredit.aug2017.loantape] inner join
 [marketplace_lending_cracked_dev_tables].[dbo].[BHHJ_loan_mappings]
 ON [marketplace_lending_staging_tables].[dbo].[chinatopcredit.aug2017.loantape].[借款编号]=[marketplace_lending_cracked_dev_tables].[dbo].[BHHJ_loan_mappings].[Platform_Loan_Number]
